.logo{
    width: 65vw;
    max-width: 900px;
 

}
.header{
   height: 200px;
   display: grid;
   place-content: center;

}
@media screen and (min-width:1280px){
    
    .header{
        height: 300px;
    }
    .logo{
        height: 160px;
    }
}