.main{
    width: 95%;
    max-width: calc(var(--width) - 2.5%);
    margin: auto;

}
.gradient{
    width: 95%;
    margin: auto;
    height: 2px; 
    background: linear-gradient(to right, #f0f0f0, #354048, #f0f0f0);
}
.header{
    margin-top: 20px;
    text-align: center;
}
.headerText{
    margin: 40px;
}
.paragraph{
    margin-top: 40px;
}
.insta{
    height: 50px;
    width: 50px;
}
.map{
    width: 95%;
   height: 500px;
   outline: none;
   border: none;
   display: block;
}