.main {
  height: 50px;
  width: 100vw;
  max-width: var(--width);
  z-index: 999999;
  margin: auto;
}
.dropdown,
.navbar {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.dropdown > li {
  max-width: var(--width);
  height: 50px;
  text-decoration: none;
  margin-top: 1px;
  background-color: var(--navbar);
  display: grid;
  place-content: center;
}

.dropdown > li > a,
.navbar > li > a {
  color: aliceblue;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
}
.dropList {
  position: absolute;
  margin-top: 50px;
  width: 100vw;
  max-width: var(--width);
}

.mobile {
    background-color: var(--navbar);
  height: 50px;
  display: flex;
  justify-content: flex-end;
}
.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
  border-radius: 25px;
  background-color: var(--navbar);
}
.navbar > li {
  margin-left: 50px;
}

/* X AND MENU ICON */
.lines {
  z-index: 999;
}
.line,
.close {
  margin: 8px;
  margin-right: 20px;
  width: 50px;
  height: 7px;
  background-color: white;
  cursor: pointer;
}

/* ANIMATION */
.close:nth-child(1) {
  transform: translateY(14px) rotate(45deg);
  transition: 0.2s ease-in-out;
  background-color: aliceblue;
}
.close:nth-child(2) {
  transform: translateY(0px) rotate(135deg);
  transition: 0.2s ease-in-out;
  background-color: aliceblue;
}
.close:nth-child(3) {
  visibility: hidden;
}
.line:nth-child(1) {
  transition: 0.2s ease-in-out;
}
.line:nth-child(2) {
  transition: 0.2s ease-in-out;
}
.line:nth-child(3) {
  transition: 0.1s step-end;
}
